.product-card{
    width: 25%;
    border: 1px solid black;
    border-radius: 10px;
}
.product-card .card-info {
    padding: 15px;
    text-align: center;
}

.product-card .card-info .title{ 
    text-align: center;
    font-weight: bolder;
    color: brown;

}


.product-card .card-info .info{ 
    color: gray;
    font-size: 14px;
    

}
.product-card .card-info button{
    background-color: brown;
    color: white;
    text-align: center;
    border: 0;
    padding: 5px 10px; 
    width: 60px;
} 
  
.product-card .card-info button a{
    text-decoration: none;
    color: white;
}

.product-card .card-info button a:hover{
    color: black;
    cursor: pointer;
}   

.product-card .card-top {
    width: 100%;
    height: 250px;
}
.product-card .card-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.author-name{
    margin-top: 10px;
}
